$n-white: var(--n-white);
$n-black: var(--n-black);

/* Blue */
$n-blue-5: var(--n-blue-5);
$n-blue-10: var(--n-blue-10);
$n-blue-20: var(--n-blue-20);
$n-blue-30: var(--n-blue-30);
$n-blue-40: var(--n-blue-40);
$n-blue-50: var(--n-blue-50);
$n-blue-60: var(--n-blue-60);
$n-blue-70: var(--n-blue-70);
$n-blue-80: var(--n-blue-80);
$n-blue-90: var(--n-blue-90);

/* Purple */
$n-purple-5: var(--n-purple-5);
$n-purple-10: var(--n-purple-10);
$n-purple-20: var(--n-purple-20);
$n-purple-30: var(--n-purple-30);
$n-purple-40: var(--n-purple-40);
$n-purple-50: var(--n-purple-50);
$n-purple-60: var(--n-purple-60);
$n-purple-70: var(--n-purple-70);
$n-purple-80: var(--n-purple-80);
$n-purple-90: var(--n-purple-90);

/* Green */
$n-green-5: var(--n-green-5);
$n-green-10: var(--n-green-10);
$n-green-20: var(--n-green-20);
$n-green-30: var(--n-green-30);
$n-green-40: var(--n-green-40);
$n-green-50: var(--n-green-50);
$n-green-60: var(--n-green-60);
$n-green-70: var(--n-green-70);
$n-green-80: var(--n-green-80);
$n-green-90: var(--n-green-90);

/* Red */
$n-red-5: var(--n-red-5);
$n-red-10: var(--n-red-10);
$n-red-20: var(--n-red-20);
$n-red-30: var(--n-red-30);
$n-red-40: var(--n-red-40);
$n-red-50: var(--n-red-50);
$n-red-60: var(--n-red-60);
$n-red-70: var(--n-red-70);
$n-red-80: var(--n-red-80);
$n-red-90: var(--n-red-90);

/* Pink */
$n-pink-5: var(--n-pink-5);
$n-pink-10: var(--n-pink-10);
$n-pink-20: var(--n-pink-20);
$n-pink-30: var(--n-pink-30);
$n-pink-40: var(--n-pink-40);
$n-pink-50: var(--n-pink-50);
$n-pink-60: var(--n-pink-60);
$n-pink-70: var(--n-pink-70);
$n-pink-80: var(--n-pink-80);
$n-pink-90: var(--n-pink-90);

/* Yellow */
$n-yellow-5: var(--n-yellow-5);
$n-yellow-10: var(--n-yellow-10);
$n-yellow-20: var(--n-yellow-20);
$n-yellow-30: var(--n-yellow-30);
$n-yellow-40: var(--n-yellow-40);
$n-yellow-50: var(--n-yellow-50);
$n-yellow-60: var(--n-yellow-60);
$n-yellow-70: var(--n-yellow-70);
$n-yellow-80: var(--n-yellow-80);
$n-yellow-90: var(--n-yellow-90);

/* Cyan */
$n-cyan-5: var(--n-cyan-5);
$n-cyan-10: var(--n-cyan-10);
$n-cyan-20: var(--n-cyan-20);
$n-cyan-30: var(--n-cyan-30);
$n-cyan-40: var(--n-cyan-40);
$n-cyan-50: var(--n-cyan-50);
$n-cyan-60: var(--n-cyan-60);
$n-cyan-70: var(--n-cyan-70);
$n-cyan-80: var(--n-cyan-80);
$n-cyan-90: var(--n-cyan-90);

/* Dark */
$n-dark-5: var(--n-dark-5);
$n-dark-10: var(--n-dark-10);
$n-dark-20: var(--n-dark-20);
$n-dark-30: var(--n-dark-30);
$n-dark-40: var(--n-dark-40);
$n-dark-50: var(--n-dark-50);
$n-dark-60: var(--n-dark-60);
$n-dark-70: var(--n-dark-70);
$n-dark-80: var(--n-dark-80);
$n-dark-90: var(--n-dark-90);
