/* Defaults */
$n-font-family: var(--n-font-family);

$n-font-size-html: var(--n-font-size-html);

$n-font-weight-default: var(--n-font-weight-light);

$n-line-height-body: var(--n-line-height-body);
$n-line-height-heading: var(--n-line-height-heading);

$n-margin-paragraph: var(--n-margin-paragraph);
$n-margin-heading: var(--n-margin-heading);
$n-margin-h1: var(--n-margin-h1);

/* Font sizes */
$n-font-size-h1: var(--n-font-size-h1);
$n-font-size-h2: var(--n-font-size-h2);
$n-font-size-h3: var(--n-font-size-h3);
$n-font-size-h4: var(--n-font-size-h4);
$n-font-size-h5: var(--n-font-size-h5);
$n-font-size-h6: var(--n-font-size-h6);
$n-font-size-small: var(--n-font-size-small);

$n-font-weight-thin: var(--n-font-weight-thin);
$n-font-weight-light: var(--n-font-weight-light);
$n-font-weight-regular: var(--n-font-weight-regular);
$n-font-weight-medium: var(--n-font-weight-medium);
$n-font-weight-bold: var(--n-font-weight-bold);
$n-font-weight-bolder: var(--n-font-weight-bolder);
