/* Layout */
$n-background: var(--n-background);
$n-foreground: var(--n-foreground);
$n-divider: var(--n-divider);
$n-focus: var(--n-focus);

/* Content */
$n-content-1: var(--n-content-1);
$n-content-2: var(--n-content-2);
$n-content-3: var(--n-content-3);
$n-content-4: var(--n-content-4);

/* Base color set */
$n-default: var(--n-default);
$n-primary: var(--n-primary);
$n-secondary: var(--n-secondary);
$n-success: var(--n-success);
$n-warning: var(--n-warning);
$n-danger: var(--n-danger);

/* Default */
$n-default-5: var(--n-default-5);
$n-default-10: var(--n-default-10);
$n-default-20: var(--n-default-20);
$n-default-30: var(--n-default-30);
$n-default-40: var(--n-default-40);
$n-default-50: var(--n-default-50);
$n-default-60: var(--n-default-60);
$n-default-70: var(--n-default-70);
$n-default-80: var(--n-default-80);
$n-default-90: var(--n-default-90);

/* Primary */
$n-primary-5: var(--n-primary-5);
$n-primary-10: var(--n-primary-10);
$n-primary-20: var(--n-primary-20);
$n-primary-30: var(--n-primary-30);
$n-primary-40: var(--n-primary-40);
$n-primary-50: var(--n-primary-50);
$n-primary-60: var(--n-primary-60);
$n-primary-70: var(--n-primary-70);
$n-primary-80: var(--n-primary-80);
$n-primary-90: var(--n-primary-90);

/* Secondary */
$n-secondary-5: var(--n-secondary-5);
$n-secondary-10: var(--n-secondary-10);
$n-secondary-20: var(--n-secondary-20);
$n-secondary-30: var(--n-secondary-30);
$n-secondary-40: var(--n-secondary-40);
$n-secondary-50: var(--n-secondary-50);
$n-secondary-60: var(--n-secondary-60);
$n-secondary-70: var(--n-secondary-70);
$n-secondary-80: var(--n-secondary-80);
$n-secondary-90: var(--n-secondary-90);

/* Success */
$n-success-5: var(--n-success-5);
$n-success-10: var(--n-success-10);
$n-success-20: var(--n-success-20);
$n-success-30: var(--n-success-30);
$n-success-40: var(--n-success-40);
$n-success-50: var(--n-success-50);
$n-success-60: var(--n-success-60);
$n-success-70: var(--n-success-70);
$n-success-80: var(--n-success-80);
$n-success-90: var(--n-success-90);

/* Warning */
$n-warning-5: var(--n-warning-5);
$n-warning-10: var(--n-warning-10);
$n-warning-20: var(--n-warning-20);
$n-warning-30: var(--n-warning-30);
$n-warning-40: var(--n-warning-40);
$n-warning-50: var(--n-warning-50);
$n-warning-60: var(--n-warning-60);
$n-warning-70: var(--n-warning-70);
$n-warning-80: var(--n-warning-80);
$n-warning-90: var(--n-warning-90);

/* Danger */
$n-danger-5: var(--n-danger-5);
$n-danger-10: var(--n-danger-10);
$n-danger-20: var(--n-danger-20);
$n-danger-30: var(--n-danger-30);
$n-danger-40: var(--n-danger-40);
$n-danger-50: var(--n-danger-50);
$n-danger-60: var(--n-danger-60);
$n-danger-70: var(--n-danger-70);
$n-danger-80: var(--n-danger-80);
$n-danger-90: var(--n-danger-90);
