:root {
  --n-white: #fff;
  --n-black: #000;

  /* Blue */
  --n-blue-5: #E6F1FE;
  --n-blue-10: #CCE3FD;
  --n-blue-20: #99C7FB;
  --n-blue-30: #66AAF9;
  --n-blue-40: #338EF7;
  --n-blue-50: #006FEE;
  --n-blue-60: #005BC4;
  --n-blue-70: #004493;
  --n-blue-80: #002E62;
  --n-blue-90: #001731;

  /* Purple */
  --n-purple-5: #F2EAFA;
  --n-purple-10: #E4D4F4;
  --n-purple-20: #C9A9E9;
  --n-purple-30: #AE7EDE;
  --n-purple-40: #9353D3;
  --n-purple-50: #7828C8;
  --n-purple-60: #6020A0;
  --n-purple-70: #481878;
  --n-purple-80: #301050;
  --n-purple-90: #180828;

  /* Green */
  --n-green-5: #E8FAF0;
  --n-green-10: #D1F4E0;
  --n-green-20: #A2E9C1;
  --n-green-30: #74DFA2;
  --n-green-40: #45D483;
  --n-green-50: #17C964;
  --n-green-60: #12A150;
  --n-green-70: #0E793C;
  --n-green-80: #095028;
  --n-green-90: #052814;

  /* Red */
  --n-red-5: #FEE7EF;
  --n-red-10: #FDD0DF;
  --n-red-20: #FAA0BF;
  --n-red-30: #F871A0;
  --n-red-40: #F54180;
  --n-red-50: #F31260;
  --n-red-60: #C20E4D;
  --n-red-70: #920B3A;
  --n-red-80: #610726;
  --n-red-90: #310413;

  /* Pink */
  --n-pink-5: #FFEDFA;
  --n-pink-10: #FFDCF5;
  --n-pink-20: #FFB8EB;
  --n-pink-30: #FF95E1;
  --n-pink-40: #FF71D7;
  --n-pink-50: #FF4ECD;
  --n-pink-60: #CC3EA4;
  --n-pink-70: #992F7B;
  --n-pink-80: #661F52;
  --n-pink-90: #331029;

  /* Yellow */
  --n-yellow-5: #FEFCE8;
  --n-yellow-10: #FDEDD3;
  --n-yellow-20: #FBDBA7;
  --n-yellow-30: #F9C97C;
  --n-yellow-40: #F7B750;
  --n-yellow-50: #F5A524;
  --n-yellow-60: #C4841D;
  --n-yellow-70: #936316;
  --n-yellow-80: #62420E;
  --n-yellow-90: #312107;

  /* Cyan */
  --n-cyan-5: #F0FCFF;
  --n-cyan-10: #E6FAFE;
  --n-cyan-20: #D7F8FE;
  --n-cyan-30: #C3F4FD;
  --n-cyan-40: #A5EEFD;
  --n-cyan-50: #7EE7FC;
  --n-cyan-60: #06B7DB;
  --n-cyan-70: #09AACD;
  --n-cyan-80: #0E8AAA;
  --n-cyan-90: #053B48;

  /* Dark */
  --n-dark-5: #FAFAFA;
  --n-dark-10: #F4F4F5;
  --n-dark-20: #E4E4E7;
  --n-dark-30: #D4D4D8;
  --n-dark-40: #A1A1AA;
  --n-dark-50: #71717A;
  --n-dark-60: #52525B;
  --n-dark-70: #3F3F46;
  --n-dark-80: #27272A;
  --n-dark-90: #18181B;
}
